# Global
.DS_Store
.idea/
*.log
*.swp
*.swo
.vscode/
.env

# Java / Spring Boot
/web-app/target/
/web-app/.mvn/wrapper/maven-wrapper.jar
/web-app/src/main/resources/application-dev.properties
/web-app/src/main/resources/application-prod.properties
/web-app/src/main/resources/firebase-service-account.json
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.project
.classpath
.settings/
.springBeans
.sts4-cache

# Flutter / Dart
/mobile-app/.dart_tool/
/mobile-app/.flutter-plugins
/mobile-app/.flutter-plugins-dependencies
/mobile-app/.packages
/mobile-app/.pub/
/mobile-app/build/
/mobile-app/.metadata
/mobile-app/ios/Pods/
/mobile-app/ios/.symlinks/
/mobile-app/ios/Flutter/App.framework
/mobile-app/ios/Flutter/Flutter.framework
/mobile-app/ios/Flutter/Generated.xcconfig
/mobile-app/ios/Flutter/app.flx
/mobile-app/ios/Flutter/app.zip
/mobile-app/ios/Flutter/flutter_assets/
/mobile-app/ios/Flutter/flutter_export_environment.sh
/mobile-app/ios/ServiceDefinitions.json
/mobile-app/ios/Runner/GeneratedPluginRegistrant.*
/mobile-app/android/.gradle
/mobile-app/android/captures/
/mobile-app/android/gradlew
/mobile-app/android/gradlew.bat
/mobile-app/android/local.properties
/mobile-app/android/app/google-services.json
/mobile-app/ios/Runner/GoogleService-Info.plist
*.iml
*.iws
*.ipr

# Arduino / ESP32
/esp32-code/.pio/
/esp32-code/.vscode/
/esp32-code/build/
/esp32-code/.pioenvs/
/esp32-code/.piolibdeps/
/esp32-code/secrets.h